resources/pug/index.pug
extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
    link(rel='stylesheet', href='/assets/css/top.css')
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述  
block contents
    //- コンテンツ本文
    .section.mv
        .section-inner
            h1.mv-ttl 登録料・利用料無料。
                br
                | 記事化に直結する
                span  プレスリリース配信サービス。
            p.mv-txt 「PressWalker」は完全無料で利用できて、
                br
                | 記事化に直結する新しいプレスリリース配信代行サービスです。
                br
                | 企業情報・サービス情報の発信を、より効果的にサポートします。
        .mv-bg.background
    
    .section
        .section-inner
            .content-ttl
                p.content-ttl__sub To Deliver
                h2.content-ttl__main プレスリリースを無料で配信したい方へ
            .infoblock 
                .infoblock-content 
                    h3.infoblock-content__ttl 無料でプレスリリース
                        br
                        | 配信が可能
                    p.infoblock-content__dsc プレスリリース配信代行サービスに関わる登録料、利用料は完全に無料です。サービス利用に伴う追加費用なども一切発生しないため安心して利用ができ、貴社の広報活動におけるコストを削減することができます。
                .infoblock-right
                    .infoblock-right__img
                        img(src="/assets/img/about_01.jpg", alt="")
            .table 
                .table-content__service
                    table 
                        tr.white
                            th.first-low 機能・サービス
                            th.socond-low 費用
                            th 説明
                        tr 
                            th.gray.first-low 利用登録
                            th.red.socond-low.table-free 無料
                            th.gray.line 登録時に企業審査を行います。審査結果によってはご登録いただけない場合がございます。
                        tr 
                            th.white.first-low プレスリリースメール配信
                            th.pink.socond-low.table-free 無料
                            th.white.line テレビ・新聞・ラジオ・雑誌・WEBメディアなど、500メディア以上にメール配信を行います。
                        tr 
                            th.gray.first-low プレスリリースメディア転載
                            th.red.socond-low.table-free 無料
                            th.gray.line KADOKAWAの運営する5つのWEBメディアに加え、提携のWEBメディア・WEBサイトにプレスリリースの原文転載を行います。
                        tr 
                            th.white.first-low 定量記事化
                            th.pink.socond-low.table-free 無料
                            th.white.line KADOKAWAの運営する5つのWEBメディアにて、毎月一定本数を記事化します。
            .infoblock
                .infoblock-left
                        img(src="/assets/img/about_02.jpg", alt="")
                .infoblock-content
                    h3.infoblock-content__ttl 無料でプレスリリース
                        br
                        | 配信が可能
                    p.infoblock-content__dsc プレスリリース配信代行サービスに関わる登録料、利用料は完全に無料です。サービス利用に伴う追加費用なども一切発生しないため安心して利用ができ、貴社の広報活動におけるコストを削減することができます。
            .table 
                .table-content__runking
                    table 
                        tr
                            th 媒体名
                            th ジャンル
                            th PV/月間
                            th UU/月間
                        tr 
                            th.gray レタスクラブWEB
                            th.gray 生活
                            th.red 67,000,000
                            th.red 11,000,000
                        tr 
                            th Walkerplus
                            th おでかけ
                            th.pink 60,000,000
                            th.pink 10,000,000
                        tr 
                            th.gray WEBザテレビジョン
                            th.gray エンタメ
                            th.red 72,000,000
                            th.red 12,000,000
                        tr 
                            th ダ・ヴィンチニュース
                            th 書籍/漫画
                            th.pink 54,100,000
                            th.pink 6,900,000
                        tr 
                            th.gray 毎日が発見ネット
                            th.gray シニア
                            th.red 5,950,000
                            th.red 1,260,000
    .section.black 
        .section-inner 
            .apply
                .apply-ttl 
                    //- img(src="/assets/img/logo.svg", alt="")
                    p 配信会員登録はこちらからお申し込みください
                .apply-btn.btn-orange
                    p 配信会員に登録する
                .apply-atn 
                    p ※審査に2営業日ほどお時間をいただきます
    .section
        .section-inner
            .content-ttl
                p.content-ttl__sub To Receive
                h2.content-ttl__main プレスリリースを受信したい方へ
            .infoblock 
                .infoblock-content 
                    h3.infoblock-content__ttl 必要な情報を
                        br
                        | ダイレクトに受け取る
                    p.infoblock-content__dsc 「PressWalker」を通じて発信される多彩なプレスリリースを、メディアの皆様に直接メールでお届けします。企業やメーカーの最新情報・一次情報をイチ早く取得することで、取材活動などにお役立ていただけます。
                .infoblock-right
                    .infoblock-right__img
                        img(src="/assets/img/about_03.jpg", alt="")
    .section.black 
        .section-inner 
            .apply
                .apply-ttl 
                    p 受信会員登録はこちらからお申し込みください
                .apply-btn.btn-orange
                    p 配信会員に登録する
                .apply-atn 
                    p ※審査に2営業日ほどお時間をいただきます
    .section
        .section-inner__flow
            .content-ttl
                p.content-ttl__sub FLOW
                h2.content-ttl__main ご利用までの流れ
            .flow 
                .step 
                    ul 
                        li.step-line__center
                            .step-mark
                                p.step-ttl STEP   
                                p.number 01
                            .step-dsc
                                h4 お申し込み(配信会員・受信会員への登録）
                                p 企業情報、担当者情報などの必要事項をフォームに入力し、申請を行います。
                        li.step-line__center
                            .step-mark
                                p.step-ttl STEP   
                                p.number 02
                            .step-dsc
                                h4 申請情報の審査（約2営業日）
                                p 入力いただいた情報をもとに審査が行われます。
                        li.step-line__last 
                            .step-mark
                                p.step-ttl STEP   
                                p.number 03
                            .step-dsc
                                h4 本登録完了
                                p 審査完了後にお送りするメールに記載されているURLをクリックすると、会員登録が完了します。パスワードを設定し、専用の管理画面にログインいただくことで、配信会員の場合は、プレスリリースの作成・配信、受信会員の場合はプレスリリースの受信を行うことが可能になります。
                                .step-box
                                    h5.step-box__left  
                                        .step-box__ttl
                                            p.step-box__ttl-mail 配信会員
                                        .step-box__line.orange
                                            p  対象
                                        .step-box__dsc
                                            p.sub-ttl 法人・団体・研究機関・行政組織 等
                                            p.sub-content プレスリリースの作成・配信に関するサービスを利用することができます。基本的には、法人・団体・研究機関・行政組織などを対象としており、個人事業主のご登録はできません。また、設立半年未満の企業様はご登録いただけません。
                                        .step-box__line.orange
                                            p 利用できるサービス
                                        .step-box__dsc 
                                            p ・プレスリリースの作成
                                                br
                                                | ・プレスリリースのメール配信
                                                br
                                                | ・プレスリリースのメディア転載
                                                br
                                                | ・定量記事化サービス
                                    
                                    h5.step-box__right  
                                        .step-box__ttl 
                                            p.step-box__ttl-receive 受信会員
                                        .step-box__line.pink 
                                            p  対象
                                        .step-box__dsc
                                            p.sub-ttl メディア・メディアに属する個人
                                            p.sub-content 企業が配信したプレスリリースをメールで受信することができます。存在するメディア、またはメディアに所属する個人が対象となります。メディア関係者以外の個人・フリーランスのメディア関係者はご登録いただけません。
                                        .step-box__line.pink
                                            p 利用できるサービス
                                        .step-box__dsc 
                                            p ・プレスリリースの受信
        .section.black 
            .section-inner__register
                .register
                    .register-ttl 
                        p 受信会員登録はこちらからお申し込みください
                    .register-box
                        .register-box__white
                            .register-box__left-ttl
                                p 配信会員の方はこちら
                            .register-box__left-dsc 
                                p PressWalkerを利用してプレスリリースの配信をご希望の方はこちらからご登録ください。
                            .register-box__left-regi 
                                p.orange 新規会員登録
                            .register-box__left-log.txt-orange
                                p 配信会員ログインはこちら
                        .register-box__white
                            .register-box__left-ttl
                                p 配信会員の方はこちら
                            .register-box__left-dsc 
                                p PressWalkerを利用してプレスリリースの配信をご希望の方はこちらからご登録ください。
                            .register-box__left-regi
                                p.pink 新規会員登録
                            .register-box__left-log.txt-pink
                                p 配信会員ログインはこちら

webroot/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-xxxxxxxx-x"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-xxxxxxxx-x');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- META-->
    <title>サイト名</title>
    <meta name="description" content="descriptionを記入してください"/>
    <meta name="keywords" content="keywordを記入して下さい"/>
    <meta name="twitter:site" content="https://test.com"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="descriptionを記入してください"/>
    <meta name="twitter:image:src" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:title" content="サイト名"/>
    <meta property="og:site_name" content="サイト名"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="ja_JP"/>
    <meta property="og:image" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:description" content="descriptionを記入してください"/>
    <link rel="shortcut icon" href="/assets/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/favicon.png"/>
    <!-- CSS-->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/top.css">
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <header class="header">
        <div class="header-inner"> 
          <div class="header-inner__left"><img src="/assets/img/logo.svg" alt="">
            <h1 class="header-title">無料のプレスリリース<br>配信サービス</h1>
            <div class="header-form"> 
              <form method="get"></form>
              <input type="text" placeholder="キーワードから探す">
            </div>
          </div>
          <div class="header-inner__right">
            <div class="header-about"> <a href="#">PressWalkerとは </a></div>
            <div class="header-login btn">ログイン</div>
            <div class="header-register btn">会員登録</div>
          </div>
        </div>
      </header>
      <div class="header-category">
        <div class="header-caregory__inner">
          <ul> 
            <li>すべて</li>
            <li>デジタル</li>
            <li>観光・レジャー</li>
            <li>エンタメ</li>
            <li>ホーム</li>
            <li>食・グルメ</li>
            <li>美容・健康</li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="section mv">
          <div class="section-inner">
            <h1 class="mv-ttl">登録料・利用料無料。<br>記事化に直結する<span> プレスリリース配信サービス。</span></h1>
            <p class="mv-txt">「PressWalker」は完全無料で利用できて、<br>記事化に直結する新しいプレスリリース配信代行サービスです。<br>企業情報・サービス情報の発信を、より効果的にサポートします。</p>
          </div>
          <div class="mv-bg background"></div>
        </div>
        <div class="section">
          <div class="section-inner">
            <div class="content-ttl">
              <p class="content-ttl__sub">To Deliver</p>
              <h2 class="content-ttl__main">プレスリリースを無料で配信したい方へ</h2>
            </div>
            <div class="infoblock"> 
              <div class="infoblock-content"> 
                <h3 class="infoblock-content__ttl">無料でプレスリリース<br>配信が可能</h3>
                <p class="infoblock-content__dsc">プレスリリース配信代行サービスに関わる登録料、利用料は完全に無料です。サービス利用に伴う追加費用なども一切発生しないため安心して利用ができ、貴社の広報活動におけるコストを削減することができます。</p>
              </div>
              <div class="infoblock-right">
                <div class="infoblock-right__img"><img src="/assets/img/about_01.jpg" alt=""></div>
              </div>
            </div>
            <div class="table"> 
              <div class="table-content__service">
                <table> 
                  <tr class="white">
                    <th class="first-low">機能・サービス</th>
                    <th class="socond-low">費用</th>
                    <th>説明</th>
                  </tr>
                  <tr> 
                    <th class="gray first-low">利用登録</th>
                    <th class="red socond-low table-free">無料</th>
                    <th class="gray line">登録時に企業審査を行います。審査結果によってはご登録いただけない場合がございます。</th>
                  </tr>
                  <tr> 
                    <th class="white first-low">プレスリリースメール配信</th>
                    <th class="pink socond-low table-free">無料</th>
                    <th class="white line">テレビ・新聞・ラジオ・雑誌・WEBメディアなど、500メディア以上にメール配信を行います。</th>
                  </tr>
                  <tr> 
                    <th class="gray first-low">プレスリリースメディア転載</th>
                    <th class="red socond-low table-free">無料</th>
                    <th class="gray line">KADOKAWAの運営する5つのWEBメディアに加え、提携のWEBメディア・WEBサイトにプレスリリースの原文転載を行います。</th>
                  </tr>
                  <tr> 
                    <th class="white first-low">定量記事化</th>
                    <th class="pink socond-low table-free">無料</th>
                    <th class="white line">KADOKAWAの運営する5つのWEBメディアにて、毎月一定本数を記事化します。</th>
                  </tr>
                </table>
              </div>
            </div>
            <div class="infoblock">
              <div class="infoblock-left"><img src="/assets/img/about_02.jpg" alt=""></div>
              <div class="infoblock-content">
                <h3 class="infoblock-content__ttl">無料でプレスリリース<br>配信が可能</h3>
                <p class="infoblock-content__dsc">プレスリリース配信代行サービスに関わる登録料、利用料は完全に無料です。サービス利用に伴う追加費用なども一切発生しないため安心して利用ができ、貴社の広報活動におけるコストを削減することができます。</p>
              </div>
            </div>
            <div class="table"> 
              <div class="table-content__runking">
                <table> 
                  <tr>
                    <th>媒体名</th>
                    <th>ジャンル</th>
                    <th>PV/月間</th>
                    <th>UU/月間</th>
                  </tr>
                  <tr> 
                    <th class="gray">レタスクラブWEB</th>
                    <th class="gray">生活</th>
                    <th class="red">67,000,000</th>
                    <th class="red">11,000,000</th>
                  </tr>
                  <tr> 
                    <th>Walkerplus</th>
                    <th>おでかけ</th>
                    <th class="pink">60,000,000</th>
                    <th class="pink">10,000,000</th>
                  </tr>
                  <tr> 
                    <th class="gray">WEBザテレビジョン</th>
                    <th class="gray">エンタメ</th>
                    <th class="red">72,000,000</th>
                    <th class="red">12,000,000</th>
                  </tr>
                  <tr> 
                    <th>ダ・ヴィンチニュース</th>
                    <th>書籍/漫画</th>
                    <th class="pink">54,100,000</th>
                    <th class="pink">6,900,000</th>
                  </tr>
                  <tr> 
                    <th class="gray">毎日が発見ネット</th>
                    <th class="gray">シニア</th>
                    <th class="red">5,950,000</th>
                    <th class="red">1,260,000</th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="section black"> 
          <div class="section-inner"> 
            <div class="apply">
              <div class="apply-ttl"> 
                <p>配信会員登録はこちらからお申し込みください</p>
              </div>
              <div class="apply-btn btn-orange">
                <p>配信会員に登録する</p>
              </div>
              <div class="apply-atn"> 
                <p>※審査に2営業日ほどお時間をいただきます</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section-inner">
            <div class="content-ttl">
              <p class="content-ttl__sub">To Receive</p>
              <h2 class="content-ttl__main">プレスリリースを受信したい方へ</h2>
            </div>
            <div class="infoblock"> 
              <div class="infoblock-content"> 
                <h3 class="infoblock-content__ttl">必要な情報を<br>ダイレクトに受け取る</h3>
                <p class="infoblock-content__dsc">「PressWalker」を通じて発信される多彩なプレスリリースを、メディアの皆様に直接メールでお届けします。企業やメーカーの最新情報・一次情報をイチ早く取得することで、取材活動などにお役立ていただけます。</p>
              </div>
              <div class="infoblock-right">
                <div class="infoblock-right__img"><img src="/assets/img/about_03.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section black"> 
          <div class="section-inner"> 
            <div class="apply">
              <div class="apply-ttl"> 
                <p>受信会員登録はこちらからお申し込みください</p>
              </div>
              <div class="apply-btn btn-orange">
                <p>配信会員に登録する</p>
              </div>
              <div class="apply-atn"> 
                <p>※審査に2営業日ほどお時間をいただきます</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section-inner__flow">
            <div class="content-ttl">
              <p class="content-ttl__sub">FLOW</p>
              <h2 class="content-ttl__main">ご利用までの流れ</h2>
            </div>
            <div class="flow"> 
              <div class="step"> 
                <ul> 
                  <li class="step-line__center">
                    <div class="step-mark">
                      <p class="step-ttl">STEP   </p>
                      <p class="number">01</p>
                    </div>
                    <div class="step-dsc">
                      <h4>お申し込み(配信会員・受信会員への登録）</h4>
                      <p>企業情報、担当者情報などの必要事項をフォームに入力し、申請を行います。</p>
                    </div>
                  </li>
                  <li class="step-line__center">
                    <div class="step-mark">
                      <p class="step-ttl">STEP   </p>
                      <p class="number">02</p>
                    </div>
                    <div class="step-dsc">
                      <h4>申請情報の審査（約2営業日）</h4>
                      <p>入力いただいた情報をもとに審査が行われます。</p>
                    </div>
                  </li>
                  <li class="step-line__last"> 
                    <div class="step-mark">
                      <p class="step-ttl">STEP   </p>
                      <p class="number">03</p>
                    </div>
                    <div class="step-dsc">
                      <h4>本登録完了</h4>
                      <p>審査完了後にお送りするメールに記載されているURLをクリックすると、会員登録が完了します。パスワードを設定し、専用の管理画面にログインいただくことで、配信会員の場合は、プレスリリースの作成・配信、受信会員の場合はプレスリリースの受信を行うことが可能になります。</p>
                      <div class="step-box">
                        <h5 class="step-box__left"> 
                          <div class="step-box__ttl">
                            <p class="step-box__ttl-mail">配信会員</p>
                          </div>
                          <div class="step-box__line orange">
                            <p> 対象</p>
                          </div>
                          <div class="step-box__dsc">
                            <p class="sub-ttl">法人・団体・研究機関・行政組織 等</p>
                            <p class="sub-content">プレスリリースの作成・配信に関するサービスを利用することができます。基本的には、法人・団体・研究機関・行政組織などを対象としており、個人事業主のご登録はできません。また、設立半年未満の企業様はご登録いただけません。</p>
                          </div>
                          <div class="step-box__line orange">
                            <p>利用できるサービス</p>
                          </div>
                          <div class="step-box__dsc"> 
                            <p>・プレスリリースの作成<br>・プレスリリースのメール配信<br>・プレスリリースのメディア転載<br>・定量記事化サービス</p>
                          </div>
                        </h5>
                        <h5 class="step-box__right"> 
                          <div class="step-box__ttl"> 
                            <p class="step-box__ttl-receive">受信会員</p>
                          </div>
                          <div class="step-box__line pink"> 
                            <p> 対象</p>
                          </div>
                          <div class="step-box__dsc">
                            <p class="sub-ttl">メディア・メディアに属する個人</p>
                            <p class="sub-content">企業が配信したプレスリリースをメールで受信することができます。存在するメディア、またはメディアに所属する個人が対象となります。メディア関係者以外の個人・フリーランスのメディア関係者はご登録いただけません。</p>
                          </div>
                          <div class="step-box__line pink">
                            <p>利用できるサービス</p>
                          </div>
                          <div class="step-box__dsc"> 
                            <p>・プレスリリースの受信</p>
                          </div>
                        </h5>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="section black"> 
            <div class="section-inner__register">
              <div class="register">
                <div class="register-ttl"> 
                  <p>受信会員登録はこちらからお申し込みください</p>
                </div>
                <div class="register-box">
                  <div class="register-box__white">
                    <div class="register-box__left-ttl">
                      <p>配信会員の方はこちら</p>
                    </div>
                    <div class="register-box__left-dsc"> 
                      <p>PressWalkerを利用してプレスリリースの配信をご希望の方はこちらからご登録ください。</p>
                    </div>
                    <div class="register-box__left-regi"> 
                      <p class="orange">新規会員登録</p>
                    </div>
                    <div class="register-box__left-log txt-orange">
                      <p>配信会員ログインはこちら</p>
                    </div>
                  </div>
                  <div class="register-box__white">
                    <div class="register-box__left-ttl">
                      <p>配信会員の方はこちら</p>
                    </div>
                    <div class="register-box__left-dsc"> 
                      <p>PressWalkerを利用してプレスリリースの配信をご希望の方はこちらからご登録ください。</p>
                    </div>
                    <div class="register-box__left-regi">
                      <p class="pink">新規会員登録</p>
                    </div>
                    <div class="register-box__left-log txt-pink">
                      <p>配信会員ログインはこちら</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-->
      <footer class="footer">
        <div class="footer-menu">
          <div class="footer-menu__inner"> <a href="">PressWalkerとは</a><a href="">媒体資料</a><a href="">よくあるご質問</a><a href="">会社概要</a><a href="">お問い合わせ</a><a href="">利用規約</a><a href="">プライバシーポリシー</a></div>
        </div>
        <div class="footer-logo">
          <div class="footer-logo__inner"> <img src="/assets/img/logo.svg" alt="">
            <p>© KADOKAWA CORPORATION 2022</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
